<div class="user-profile">
  <h1><%= @user.name %>のページ</h1>
  
  <% if @user == current_user %>
    <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn" %>
  <% else %>
    <%= render "relationships/btn", user: @user %>
  <% end %>
  <p><%= link_to "お気に入り一覧へ", favorites_posts_path, class: "btn" %></p>

  <div class="stats">
    <p>フォロー数: <%= link_to @user.followings.count, user_followings_path(@user) %></p>
    <p>フォロワー数: <%= link_to @user.followers.count, user_followers_path(@user) %></p>
  </div>
</div>

<hr>

<section class="user-posts">

  <h3>投稿したレシピ</h3>
  <div class="post-grid">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="post-card">
          <% if post.image.attached? %>
            <%= image_tag post.image, size: "200x200" %>
          <% end %>

          <%= render "favorites/btn", post: post %>

          <h3><%= post.title %></h3>
          <%= link_to "詳細を見る", post_path(post) %>
        </div>
      <% end %>
    <% else %>
      <p>まだ投稿はありません。</p>
    <% end %>
  </div>

</section>