<section class="post-index">
  <h2>投稿一覧</h2>

  <div class="post-grid">
    <% @posts.each do |post| %>
      <%= link_to post_path(post), class: "post-card-link" do %>
        <div class="post-card">
          <div class="post-image">
            <% if post.image.attached? %>
              <%= image_tag post.image %>
            <% end %>
          </div>
          <%= render "favorites/btn", post: post %>
          <div class="post-info">
            <h3 class="post-title"><%= post.title %></h3>
            <p class="post-user">作成者: <%= post.user.name %></p>
            <%= link_to post.user.name, user_path(post.user) %>
            <div class="post-date">投稿日: <%= post.created_at.strftime('%Y/%m/%d') %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</section>