<div class="recipe-detail-container">
  
  <div class="recipe-main-header">
    <div class="recipe-image">
      <%= image_tag @post.image if @post.image.attached? %>
    </div>
    
    <div class="recipe-info">
      <h1 class="recipe-title"><%= @post.title %></h1>
  
      <div class="recipe-comment">
        <p><span class="label">ひとこと:</span> <%= @post.body %></p>
      </div>

      <div class="recipe-meta">
        <p class="recipe-user">投稿者: <%= link_to @post.user.name, user_path(@post.user) %> さん</p>
        <p class="recipe-date">
          投稿日: <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
        </p>
      </div>
    </div>
  </div>

  <hr class="recipe-divider">


  <div class="recipe-content">
    <div class="recipe-ingredients">
      <h3>材料</h3>
      <div class="ingredients-box"></div>
    </div>

    <div class="recipe-process">
      <h3>作り方</h3>
      <div class="process-box"></div>
    </div>
  </div>

  <div class="recipe-actions">
    <%= link_to '一覧に戻る', posts_path %>
    
    <% if @post.user == current_user %>
      <%= link_to '編集する', edit_post_path(@post) %>
      <%= link_to '削除する', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    <% end %>
  </div>

</div>